<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">

    <ion-content has-header="true" padding="true">
        <h2>1 {{navTitle}}</h2>
        
       <div class="msgBlock" ng-repeat="chat in chats | orderBy:'timestamp':false">
            <div class="msgText">{{chat.body}}</div>
            <div class="slogan">{{chat.slogan}}</div>
         </div>
    </ion-content>

</ion-view>


<!--       <div id="feed" scroll-bottom>
        <div class="msgBlock">
          <div class=content>
          <button id="fetchButton" class="btn btn-lg btn-primary textButton" 
            ng-click="fetchChats()">Get More</button>
          <button id="refreshButton" class="btn btn-lg btn-primary textButton" 
            ng-click="refreshChats()">Refresh</button>
          </div>
        </div>
        <div class="msgBlock" ng-repeat="chat in chats | orderBy:'timestamp':false | searchFor:searchString | messageFilter: settings" ng-click="showMapOrPic(chat)" scroll-bottom>
          <div class="content">
            <div class="author">
             <img class="avatar" ng-src="{{avatars && avatars[chat.user]}}"/>
            </div>
            <div class="time"> 
              <div am-time-ago="chat.timestamp"></div>
              <span class="handle">{{chat.user || 'guest'}}</span>
            </div>
            <div class="msgText">{{chat.body}}</div>
            <div class="slogan">{{chat.slogan}}</div>
          </div>
        </div>
      </div> -->