<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">
<div id="map" ng-init="createMap()" ng-hide="hideMap" ng-click="hideMap = !hideMap"></div>
<div id="pic" ng-init="createPic()" ng-hide="hidePic" ng-click="hidePic = !hidePic"></div>
  <ion-content has-header="true" has-footer="true" padding="true">
    <ion-refresher on-refresh="$scope.fresh()"
                   pulling-text="Pull to refresh..."
                   refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-c">                     
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="chat in chats | orderBy:'timestamp':true" ng-click="showMapOrPic(chat)">
        <div class="author">
         <img class="avatar" ng-src="{{chat.pic}}"/>
        </div>
        <div class="time"> 
          <div am-time-ago="chat.timestamp"></div>
          <span class="handle">{{chat.user || 'guest'}}</span>
        </div>
        <div class="msgText">{{chat.body}}</div>
        <div class="slogan">{{chat.slogan}}</div>
      </ion-item>
    </ion-list>
    <div id="log">waiting...</div>
  <ion-infinite-scroll
    on-infinite="$scope.fetchChats()"
    distance="1%">
  </ion-infinite-scroll>
</ion-content>


  <ion-footer-bar class="bar-dark">
      <div class="list">
        <div class="item-input-inset" id="compose">
          <form id="chatForm" name="chat" ng-init="configureUserSettings()" ng-submit="sendChat(chat)">
            <div class="row">
              <div class="col col-75">
               <label class="item-input-wrapper" id="compose">
                  <i class="icon ion-ios7-bolt placeholder-icon"></i>
                <input type="text" placeholder="compose" id="composeField" class="form-control textField" ng-model="chat.body" char-limit="140" />
                </label>
              </div>
              <div class="col col-25">
                <button type="submit" id="sendButton" class="button button-submit">
                  Submit
                </button>
              </div>
<!--               <div class="col">
                <button id="fetchButton" class="button" ng-click="fetchChats()">More</button>
             </div>
             <div class="col">
                <button id="refreshButton" class="button" ng-click="refreshChats()">Frresh</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    <!-- </div> -->

  </ion-footer-bar>
</ion-view>


<!--       <div id="feed" scroll-bottom>
        <div class="msgBlock">
        </div>
        <div class="msgBlock" ng-repeat="chat in chats | orderBy:'timestamp':false | searchFor:searchString | messageFilter: settings" ng-click="showMapOrPic(chat)" scroll-bottom>
          <div class="content">
            <div class="author">
             <img class="avatar" ng-src="{{avatars && avatars[chat.user]}}"/>
            </div>
            <div class="time"> 
              <div am-time-ago="chat.timestamp"></div>
              <span class="handle">{{chat.user || 'guest'}}</span>
            </div>
            <div class="msgText">{{chat.body}}</div>
            <div class="slogan">{{chat.slogan}}</div>
          </div>
        </div>
      </div> -->