#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

.msgBlock {
  /*box-sizing: border-box;*/
  width: 100%;
  min-height: 56px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  white-space: normal;
  font-size: 14px;
}
.author {
  float: left;
  width: 32px;
  height: 32px;
}
.avatar {
  float: left;
  width: 32px;
  height: 32px;
  margin-bottom: -2px;
}
.handle {
  font-size: 9pt;
  color: #777;
  vertical-align: baseline;
}
.msgText {
  margin-left: 38px;
  margin-right: 96px;
  text-align: left;
  white-space: normal;
  font-size: 16px; 
/*  width: 80%;
*/}
.slogan {
  margin-left: 38px;
  text-align: left;
  color: darkgrey;  
  font-style:italic
  font-size: 10pt;
}
.time {
  float: right;
  position: relative;
  bottom: 0px;
  text-align: right;
  font-size: 10pt;
  color: #999;
}
#feed {
  top: 44px;
  bottom: 44px;
  position: fixed;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}